<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pointofsale"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pointofsale.ProductCatalogActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.pointofsale.InventoryActivity"
            >
        </activity>
        <activity
            android:name="com.example.pointofsale.AddActivity"
             >
        </activity>
        <activity
            android:name="com.example.pointofsale.SaleActivity"
             >
        </activity>
        <activity
            android:name="com.example.pointofsale.SaleReportScreen"
            >
        </activity>
        <activity
            android:name="com.example.pointofsale.UpdateScreen"
             >
        </activity>
        <activity android:name="com.example.pointofsale.SaleReportActivity"> </activity>
        <activity android:name="com.example.pointofsale.SaveSaleActivity"> </activity>
    </application>

</manifest>
